@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --teal-color: #08e8de;
  --yellow-color: #f890e7;
  --white-color: #ffffff;
  --black-color: #000;
  --grey-color: #dedede;
  --body-color: #e3e6e6;
}

.adminNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-color);
  height: 50px;
}

.adminNavLogo {
  font-size: 28px;
  color: var(--teal-color);
  font-weight: bold;
  margin-left: 10px;
  text-shadow: 2px 2px 0 var(--yellow-color);
}